.footer {
    background-color: $white-100;
}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: center;
    @include md{
        justify-content: space-between;
    }
    p {
        margin: 0;
        font-size: .785rem;
        color: $gray-300;
        @include md{
            font-size: 1rem;
        }
    }
}
.footer-element1 *{
    display: none;
    @include md{
        display: block;
    }

}
.footer-element2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include md{
        width: auto;
        gap: 20px;
    }
    .footer-item3{
        display: none;
        @include md{
            display: block;
        }
    }
}
