$bg-primary: #c5c5c5;

$primary-100: #0155a8;
$primary-200: #e4eef7;
$primary-300: #e4eef7;

$gray-100: #f4f6fa;
$gray-200: #ced3e0;
$gray-300: #a4a9b6;
$gray-400: #757986;
$gray-500: #5f636d;
$gray-600: #2a3547;

$white-100: #ffffff;
$white-200: #fafafa;

$black-100: #1d1d1d;
$black-200: #2a2a2a;
