@mixin xsm {
    @media screen and (min-width: 425px) {
        @content;
    }
}
@mixin sm {
    @media screen and (min-width: 512px) {
        @content;
    }
}

@mixin md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: 1100px) {
        @content;
    }
}

@mixin xxl {
    @media screen and (min-width: 1400px) {
        @content;
    }
}

@mixin landscape {
    @media screen and (orientation: landscape),
        screen and (max-width: 768px),
        screen and (max-height: 512px) {
        @content;
    }
}

@mixin button($textColor: $white-100, $backgroundColor: $primary-100) {
    display: inline-block;
    width: fit-content;
    padding: 0.7em 2.5em;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    font-family: "THICCCBOI";
    background-color: $backgroundColor;
    color: $textColor !important;
    cursor: pointer;
    transition: all 400ms ease;
    @include lg {
        font-size: 1.25rem;
    }
}
@mixin button2($textColor: $primary-100, $backgroundColor: $white-100) {
    display: inline-block;
    text-decoration: none;
    color: $textColor;
    font-size: 1rem;
    font-weight: 500;
    background-color:$backgroundColor;
    padding: .8em 4em;
    border-radius: 70px;
    text-transform: uppercase;
    transition: all 400ms ease;
    &:hover{
        box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.2);
        transform: translateY(-7px);
    }
    @include lg{
        font-size: 1.25rem;
    }
}

